In [2]:
import pandas as pd

# File paths (change folder name if needed)
countries = pd.read_csv('/kaggle/input/olympics-data/CountriesSD.csv')
summer = pd.read_csv('/kaggle/input/olympics-data/SummerSD.csv')
winter = pd.read_csv('/kaggle/input/olympics-data/WinterSD.csv')

# Check shapes
print("Countries shape:", countries.shape)
print("Summer shape:", summer.shape)
print("Winter shape:", winter.shape)

# Preview data
print("\n--- Countries Preview ---")
display(countries.head())

print("\n--- Summer Preview ---")
display(summer.head())

print("\n--- Winter Preview ---")
display(winter.head())

# Column info
print("\n--- Countries Info ---")
countries.info()

print("\n--- Summer Info ---")
summer.info()

print("\n--- Winter Info ---")
winter.info()

Countries shape: (201, 5)
Summer shape: (31165, 11)
Winter shape: (5770, 10)

--- Countries Preview ---

   Unnamed: 0          Country Code  Population  GDP per Capita
0           0      Afghanistan  AFG  32526562.0      594.323081
1           1          Albania  ALB   2889167.0     3945.217582
2           2          Algeria  ALG  39666519.0     4206.031232
3           3  American Samoa*  ASA     55538.0             NaN
4           4          Andorra  AND     70473.0             NaN

--- Summer Preview ---

,Unnamed: 0,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country
0,0,1896,Athens,Aquatics,Swimming,Alfred Hajos,HUN,Men,100M Freestyle,Gold,Hungary
1,1,1896,Athens,Aquatics,Swimming,Otto Herschmann,AUT,Men,100M Freestyle,Silver,Austria
2,2,1896,Athens,Aquatics,Swimming,Dimitrios Drivas,GRE,Men,100M Freestyle For Sailors,Bronze,Greece
3,3,1896,Athens,Aquatics,Swimming,Ioannis Malokinis,GRE,Men,100M Freestyle For Sailors,Gold,Greece
4,4,1896,Athens,Aquatics,Swimming,Spiridon Chasapis,GRE,Men,100M Freestyle For Sailors,Silver,Greece

--- Winter Preview ---

,Unnamed: 0,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

--- Countries Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      201 non-null    int64
 1   Country         201 non-null    object
 2   Code            201 non-null    object
 3   Population      196 non-null    float64
 4   GDP per Capita  176 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 8.0+ KB

--- Summer Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  31165 non-null  int64
 1   Year        31165 non-null  int64
 2   City        31165 non-null  object
 3   Sport       31165 non-null  object
 4   Discipline  31165 non-null  object
 5   Athlete     31165 non-null  object
 6   Code        31161 non-null  object
 7   Gender      31165 non-null  object
 8   Event       31165 non-null  object
 9   Medal       31165 non-null  object
 10  Country     25742 non-null  object
dtypes: int64(2), object(9)
memory usage: 2.6+ MB

--- Winter Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5770 entries, 0 to 5769
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5770 non-null   int64
 1   Year        5770 non-null   int64
 2   City        5770 non-null   object
 3   Sport       5770 non-null   object
 4   Discipline  5770 non-null   object
 5   Athlete     5770 non-null   object
 6   Country     5770 non-null   object
 7   Gender      5770 non-null   object
 8   Event       5770 non-null   object
 9   Medal       5770 non-null   object
dtypes: int64(2), object(8)
memory usage: 450.9+ KB